.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 999
}
    
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

/* CSS สำหรับปุ่มปิด Pop-up */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
} 