.block{
    border: 1px solid black;
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 5rem;
}



#b1{
    border: 20px solid gainsboro;
    border-radius: 20px;
    width: 282px;
    height: 479px;
}

#b2{
    border: 20px solid gainsboro;
    border-radius: 20px;
    width: 282px;
    height: 479px;
}


#b3{
    border: 20px solid gainsboro;
    border-radius: 20px;
    width: 282px;
    height: 479px;
}


