.assignment-course{
  width: 98%;
  border: 1px solid #ffffff;
  margin:10px;
  border-radius: 15px;
}
.assignment-course .tab-top { 
  height: 40px;
  border-bottom: 1px solid #EBEBEB;
  background-color: #E6C6FF;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #9E24FF;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
  padding: 0px 11px 0px 11px;
}
.assignment-course .course-icon {
  display: flex;
  align-items: center;
  height: 100%;
}
.WeekContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Week {
  background-color: #ffffff;
  width: 100%;
  color: #000000;
  padding: 10px;
  cursor: pointer;
  margin: 10px 10px 0px 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #AE87DF;
}

.Week-opening {
  width: 100%;
  background-color: #dfdfdf;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.Week-opening.open {
  max-height: 400px;
}

.WeekDetails {
  color: #000000;
  font-size: 80%;
}
#buttonAccept {
  background-color: #50ff84;
  border-color: #00000000;
  color: #000000;
  height: 2.3em;
  border-radius: 5px;
  margin-left: 85%;
}
#buttonNOAccept {
  background-color: #ff5454;
  border-color: #00000000;
  color: #000000;
  height: 2.3em;
  border-radius: 5px;
  margin-left: 85%;
}
