.student-profile {
    display: flex;
}
.profile-left {
    width: 500px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    margin: 10px;

}
.card-body {
    width: 500px;
    height: 359px;
    border-radius: 20px;
    background: #D9D9D9;
    box-sizing: border-box;
}
.profile-header img {
    width: 475px;
    height: 154px;
    border-radius: 10px 10px 0px 0px;
}
.profile-info{
    position: relative;
    top: -2rem;
    padding-left: 0.2rem;
    display: flex;
    box-sizing: border-box;
}
.profile-avatar{
    position: relative;
    top: -2rem;
    padding-left: 0.2rem;
    width: 123px; 
    height: 123px; 
    background: white; 
    border-radius: 9999px; 
    border: 5px #A32FFF solid
}
.profile-meta {
    padding-left: 12px;
    padding-top: 30px;
    box-sizing: border-box;
}
.text-studentid {
    width: auto; 
    height: auto; 
    color: black; 
    font-size: 32px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word
}
.text-namethai {
    width: auto; 
    height: auto; 
    color: black; 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word
}
.text-nameeng {
    width: auto; 
    height: auto; 
    color: black; 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word
}
.profile-right {
    width: auto;
    height: 550px;
    flex-shrink: 0;
    margin: 10px;
    box-sizing: border-box;
    background: #D9D9D9;
    border-radius: 10px 10px 10px 10px;
}
.card-headertab {
    width: auto;
    height: auto;
    margin: 10px;
    padding: 0px;
    background-color: #9E24FF;
}
.information ,.group {
    background-color: #D9D9D9;
    float: left;
    border: none;
    outline: none;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 1;
    color: #000000;
    cursor: pointer;
    top: 4px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 8px 16px 8px 16px;
    transition: 0.3s;
    font-size: 95%;
}

.profile-right .information:hover, .profile-right .group:hover {
    color: #282828;
    background-color: #e9e9e9;
}
.profile-right .information.active, .profile-right .group.active {
    background-color: #ffffff;
    color: #282828;
}
.card-bodytab{
    width: 1000px;
    height: 480px;
    margin: 10px;
    border-radius: 0px 10px 10px 10px;
    background-color: #ffffff;
    display: flex;
}
.list-group {
    display: flex;
}
.list-group-item {
    width: 900px;
    height: 30px;
    border-bottom: 1px solid rgb(0, 0, 0);
    display: flex;
}
.row {
    display: flex;
}
