.topbar {
    background-color: #A32FFF;
    position: relative;
    width: 100%;
    height: 70px;
  }
  
  .plus-icon {
    position: absolute;
    width: 216px;
    height: 70px;
    top: 0;
    left: 0;
  }
  .GE-plus-university {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 0;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
  }
  .GE-plus-university img {
    height: 80%;
    vertical-align: middle;
    margin: 5px;
  }
  .GE-plus-university a {
    margin: 0;
  }
  
